* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #000;
  font-family: "Courier New", Courier, monospace;
  padding-top: 20px;
}

h1 {
  font-size: 2rem;
  padding-bottom: 10px;
}

section {
  padding-top: 20px;
}

.cookieImg {
  width: 100px;
}

.wrapper {
  display: flexbox;
  flex-direction: column;
  justify-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.clicker {
  font-size: 2em;
  margin: 10px;
}

.upgrade,
.upgrade_available {
  padding: 5px 10px 5px 10px;
  display: grid;
  grid-template-columns: 75% 25%;
  border: 1px solid;
}

.upgrade_available {
  border-color: #fff;
  color: #000;
  background-color: #fff;
}

.upgrade div,
.upgrade_available div {
  font-size: 2rem;
  text-align: center;
}

.button {
  border: 1px solid #fff;
  padding: 5px;
  margin-top: 20px;
  background-color: #000;
  color: #fff;
}

/* moved the hover styles into a media query because mouse hover isn't a thing on mobile
and it just sticks to the focus element in a confusing way */

@media (hover: hover) {
  .upgrade:hover {
    border-color: #ff8888;
    color: #000;
    background-color: #ff8888;
  }

  .upgrade_available:hover {
    border-color: #00ff00;
    background-color: #00ff00;
  }

  .button:hover {
    color: #000;
    background-color: #fff;
  }
}
